.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    height: 10vh;
    width: auto;
    justify-content: flex-end;
  }

  .main {
    display: flex;
    height: 200px;
    width: auto;
    flex-direction: column;
    margin-top: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .ui.input {
    margin: 10px 0;
  }

  .ui.button {
    margin: 10px 0;
  }

  .ui.grid>.row>.column {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-section {
  height: 50%;
  width: auto;
  overflow: hidden;
}

  .footer {
    display: flex;
    align-self: flex-end;
    height: 50px;
    width: auto;
  }